@font-face {
  font-family: zelda; /* set name */
  src: url(font.otf); /* url of the font */
}

* {
  font-family: zelda;
  line-height: 50%;
}

h1 {
  font-size: 50px;
}
/*
h2 {
  font-size: 20px;
}
       '

h3 {
  font-size: 1px;
}
*/
.center {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;
}
